h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  body {
    color: rgb(2, 134, 19);
  }
  body {
    background-color: black;
  }
  h1 {
    text-shadow: 2px 2px purple;
  }
 #imag3 {width: 550px}
 #imag1 {width:  700px}
